/* Write your CSS here */
#user_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: beige;
}
#profile_pic_container{
    display: flex;
    align-content: center;
}
#info{
    
}
#contact{
   
}
#profile_pic {

    width: 70px;
    height: 70px;
}

.content_pic{
    width:100px;
    height:100px;

}

/* modal styling */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgb(0, 0, 0);
    background-color:rgba(0, 0, 0, 0.4);
    
    
}

.modal-content{
    background-color:#fefefe;
    margin: 15% auto;
    padding:20px;
    border:1px solid #888;
    width: 80%;
}

.add{
float:right;
}

.cancel{
float:right;
}